In [3]:
import pandas as pd
import numpy as np
import ozon3 as ooo

<h3>Steps to get token key ko ozon3 </h3>
Visit the Ozon3 website and sign up for an account.</br>
Navigate to the API section in your account settings.</br>
Generate a new API key and copy it.</br>
replace 'API_KEY_OOO' with actuall api key

In [2]:
o3 = ooo.Ozon3('API_KEY_OOO')

In [3]:
def aqi_city(city):
    return o3.get_city_air(city=city)

In [4]:
#list of all metro cities in India

cities = ['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Ahmedabad', 'Chennai', 'Kolkata', 'Pune', 'Jaipur', 'Lucknow', 'Kanpur', 'Nagpur', 'Thane', 'Bhopal', 'Patna', 'Vadodara', 'Ghaziabad', 'Ludhiana', 'Agra', 'Nashik', 'Faridabad', 'Meerut', 'Rajkot', 'Kalyan','Dombivali', 'Vasai','Virar', 'Varanasi', 'Srinagar', 'Aurangabad', 'Dhanbad', 'Amritsar', 'Navi Mumbai', 'Allahabad', 'Ranchi', 'Haora', 'Coimbatore', 'Jabalpur', 'Gwalior', 'Vijayawada', 'Jodhpur', 'Madurai', 'Raipur', 'Kota', 'Guwahati', 'Chandigarh', 'Solapur', 'Hubli',' Dharwad', 'Bareilly', 'Moradabad', 'Mysore', 'Gurgaon', 'Aligarh', 'Jalandhar', 'Tiruchirappalli', 'Bhubaneswar', 'Salem', 'Mira','Bhayander', 'Thiruvananthapuram', 'Bhiwandi', 'Saharanpur', 'Gorakhpur', 'Guntur', 'Bikaner', 'Amravati', 'Noida', 'Jamshedpur', 'Bhilai Nagar', 'Warangal', 'Cuttack', 'Firozabad', 'Kochi', 'Bhavnagar', 'Dehradun', 'Durgapur', 'Asansol', 'Nanded Waghala', 'Kolhapur', 'Ajmer', 'Gulbarga', 'Jamnagar', 'Ujjain', 'Loni', 'Siliguri', 'Jhansi', 'Ulhasnagar', 'Nellore', 'Jammu', 'Sangli','Miraj','Kupwad', 'Belgaum', 'Mangalore', 'Ambattur','London','Manchester','Birmingham','Glasgow','Liverpool','Newcastle','Sheffield','Leeds','Bristol','Nottingham','Southampton','Portsmouth','Cardiff','Belfast','Dublin','Cork','Limerick','Galway','Waterford','Derry','Dundalk','Lisburn','Newry','Armagh','Bangor','Bath','Bradford','Brighton','Cambridge','Canterbury','Carlisle','Chester','Chichester','Coventry','Derby','Durham','Ely','Exeter','Gloucester','Hereford','Kingston','Lancaster','Leicester','Lichfield','Lincoln','Londonderry','Oxford','Peterborough','Plymouth','Preston','Ripon','Salford','Salisbury','Sheffield','Stirling','Stoke','Sunderland','Swansea','Truro','Wakefield','Wells','Winchester','Wolverhampton','Worcester','York','Aberdeen','Dundee','Edinburgh','Glasgow','Inverness','Stirling','Aberystwyth','Bangor','Cardiff','Newport','Swansea','St Asaph','St Davids','Belfast','Armagh','Lisburn','Derry','Newry','Cork','Dublin','Galway','Limerick','Waterford','Derry','Dundalk','Lisburn','Newry','Armagh','Bangor','Bath','Bradford','Brighton','Cambridge','Canterbury','Carlisle','Chester','Chichester','Coventry','Derby','Durham','Ely','Exeter','Gloucester','Hereford','Kingston','Lancaster','Leicester','Lichfield','Lincoln','Londonderry','Oxford','Peterborough','Plymouth','Preston','Ripon','Salford','Salisbury','Sheffield','Stirling','Stoke','Sunderland','Swansea','Truro','Wakefield','Wells','Winchester','Wolverhampton','Worcester','York','Aberdeen','Dundee','Edinburgh','Glasgow','Inverness','Stirling','Aberystwyth','Bangor','Cardiff','Newport','Swansea','Belfast']

In [6]:
ip = str(input("Enter the city name: "))
aqi_city(ip)

,city,latitude,longitude,station,dominant_pollutant,timestamp,timestamp_timezone,aqi,AQI_meaning,AQI_health_implications,...,o3,co,no2,so2,dew,h,p,t,w,wg
0,solapur,17.659919,75.906391,"Solapur, Solapur, India",pm2.5,2024-07-03 13:00:00,+05:30,79.0,Moderate,"Air quality is acceptable; however, for some p...",...,NaN,NaN,20.0,3.5,23.8,65.94,953.77,32.8,0.07,NaN

In [7]:
ip = str(input("Enter the city name: "))
def get_data(ip):
    data = aqi_city(ip)
    return data

In [ ]:
successful_cities = []
for city in cities:
    try:
        aqi_city(city)
        successful_cities.append(city)
    except Exception as e:
        print(f"Data not available for {city}: {e}")

cities = successful_cities
# Now you can safely use cities list for further processing
# o3.get_multiple_city_air(cities=cities)

In [ ]:
citiesdf = o3.get_multiple_city_air(cities=cities)

In [ ]:
citiesdf=citiesdf.iloc[:,: 21]

handling missing values

In [ ]:
# Identify numerical columns
numerical_cols = citiesdf.select_dtypes(include=['number']).columns

# Calculate the mean only for numerical columns
mean_values = citiesdf.loc[21, numerical_cols].mean()

# Fill NA values only in numerical columns with their mean
# handle = citiesdf.loc[21, numerical_cols] = citiesdf.loc[21, numerical_cols].fillna(mean_values)
handle = citiesdf
# fill nan values with mean of that column
handle['w'] = citiesdf['w'].fillna(citiesdf['w'].mean())
handle['p'] = citiesdf['p'].fillna(citiesdf['p'].mean())
handle['h'] = citiesdf['h'].fillna(citiesdf['h'].mean())
handle['so2'] = citiesdf['so2'].fillna(citiesdf['so2'].mean())
handle['no2'] = citiesdf['no2'].fillna(citiesdf['no2'].mean())
handle['co'] = citiesdf['co'].fillna(citiesdf['co'].mean())
handle['o3'] = citiesdf['o3'].fillna(citiesdf['o3'].mean())
handle['pm10'] = citiesdf['pm10'].fillna(citiesdf['pm10'].mean())
handle['pm2.5'] = citiesdf['pm2.5'].fillna(citiesdf['pm2.5'].mean())
handle['aqi'] = citiesdf['aqi'].fillna(citiesdf['aqi'].mean())

In [ ]:
handle.to_csv('handle.csv', index=False)

In [ ]:
# type(handle['timestamp'])
data = pd.DataFrame()
data['ds'] = pd.to_datetime(handle['timestamp'])
type(data['ds'])

pandas.core.series.Series

In [ ]:
data['y'] = handle['aqi']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      180 non-null    datetime64[ns]
 1   y       180 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.9 KB

till now the dataset included real time data of multiple cities but to train model i will use historic data of only one city

In [10]:
data_huston = o3.get_historical_data(city='Houston')     # data from 2014 onwards!

d:\Siddhant\Open Source\AQI Prediction\venv\lib\site-packages\ozon3\ozon3.py:572: UserWarning: city_id was not supplied. Searching for "Houston" yields city ID 203 with station name "['Houston Aldine, Houston, Texas']", with country code "US". Ozon3 will return air quality data from that station. If you know this is not the correct city you intended, you can use get_city_station_options method first to identify the correct city ID.
  warnings.warn(

In [11]:
historical_data = data_huston

In [12]:

historical_data.mean()

date     2019-04-03 00:00:00
pm2.5              36.647357
o3                 30.385289
no2                 5.830966
so2                      0.0
co                  1.826271
dtype: object

In [13]:
historical_data = historical_data.fillna(historical_data.mean())

historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3837 non-null   datetime64[ns]
 1   pm2.5   3837 non-null   float64
 2   o3      3837 non-null   float64
 3   no2     3837 non-null   float64
 4   so2     3837 non-null   float64
 5   co      3837 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 180.0 KB

In [14]:
hist = pd.DataFrame()
hist['ds'] = pd.to_datetime(historical_data['date'])
hist['y'] = historical_data['o3']

In [15]:
hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      3837 non-null   datetime64[ns]
 1   y       3837 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 60.1 KB

In [22]:
def calculate_aqi(pm25, o3, no2, so2, co):
    """
    Calculates the AQI based on pollutant concentrations.
    Args:
        pm25 (float): PM2.5 concentration (µg/m³)
        o3 (float): Ozone concentration (ppb)
        no2 (float): Nitrogen dioxide concentration (ppb)
        so2 (float): Sulfur dioxide concentration (ppb)
        co (float): Carbon monoxide concentration (ppm)
    Returns:
        int: Overall AQI value
    """
    # Define AQI breakpoints and corresponding values
    breakpoints = [
        (0, 12.0, 0, 50),
        (12.1, 35.4, 51, 100),
        (35.5, 55.4, 101, 150),
        (55.5, 150.4, 151, 200),
        (150.5, 250.4, 201, 300),
        (250.5, 500.4, 301, 500)
    ]

    def calculate_aqi_component(concentration, breakpoints):
        for low, high, aqi_low, aqi_high in breakpoints:
            if low <= concentration <= high:
                return int((concentration - low) * (aqi_high - aqi_low) / (high - low) + aqi_low)
        return None

    # Calculate individual AQI components
    aqi_pm25 = calculate_aqi_component(pm25, breakpoints)
    aqi_o3 = calculate_aqi_component(o3, breakpoints)
    aqi_no2 = calculate_aqi_component(no2, breakpoints)
    aqi_so2 = calculate_aqi_component(so2, breakpoints)
    aqi_co = calculate_aqi_component(co, breakpoints)

    # Overall AQI is the maximum of individual AQI values
    overall_aqi = max(aqi_pm25, aqi_o3, aqi_no2, aqi_so2, aqi_co)
    return overall_aqi

# Example usage:
pm25_value = 65
o3_value = 30.38
no2_value = 5.83
so2_value = 0
co_value = 1.6

result_aqi = calculate_aqi(pm25_value, o3_value, no2_value, so2_value, co_value)
print(f"Overall AQI: {result_aqi}")

Overall AQI: 155