In [93]:
import pandas as pd
import numpy as np
import requests
import ozon3 as ooo

a7814c89aa2e739b9b06a51ae2dccf6dc9d9ef18
token key for ooo (world air quality index)

In [4]:
o3 = ooo.Ozon3('a7814c89aa2e739b9b06a51ae2dccf6dc9d9ef18')

In [5]:
def aqi_city(city):
    return o3.get_city_air(city=city)

In [6]:
#list of all metro cities in India

cities = ['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Ahmedabad', 'Chennai', 'Kolkata', 'Pune', 'Jaipur', 'Lucknow', 'Kanpur', 'Nagpur', 'Thane', 'Bhopal', 'Patna', 'Vadodara', 'Ghaziabad', 'Ludhiana', 'Agra', 'Nashik', 'Faridabad', 'Meerut', 'Rajkot', 'Kalyan','Dombivali', 'Vasai','Virar', 'Varanasi', 'Srinagar', 'Aurangabad', 'Dhanbad', 'Amritsar', 'Navi Mumbai', 'Allahabad', 'Ranchi', 'Haora', 'Coimbatore', 'Jabalpur', 'Gwalior', 'Vijayawada', 'Jodhpur', 'Madurai', 'Raipur', 'Kota', 'Guwahati', 'Chandigarh', 'Solapur', 'Hubli',' Dharwad', 'Bareilly', 'Moradabad', 'Mysore', 'Gurgaon', 'Aligarh', 'Jalandhar', 'Tiruchirappalli', 'Bhubaneswar', 'Salem', 'Mira','Bhayander', 'Thiruvananthapuram', 'Bhiwandi', 'Saharanpur', 'Gorakhpur', 'Guntur', 'Bikaner', 'Amravati', 'Noida', 'Jamshedpur', 'Bhilai Nagar', 'Warangal', 'Cuttack', 'Firozabad', 'Kochi', 'Bhavnagar', 'Dehradun', 'Durgapur', 'Asansol', 'Nanded Waghala', 'Kolhapur', 'Ajmer', 'Gulbarga', 'Jamnagar', 'Ujjain', 'Loni', 'Siliguri', 'Jhansi', 'Ulhasnagar', 'Nellore', 'Jammu', 'Sangli','Miraj','Kupwad', 'Belgaum', 'Mangalore', 'Ambattur','London','Manchester','Birmingham','Glasgow','Liverpool','Newcastle','Sheffield','Leeds','Bristol','Nottingham','Southampton','Portsmouth','Cardiff','Belfast','Dublin','Cork','Limerick','Galway','Waterford','Derry','Dundalk','Lisburn','Newry','Armagh','Bangor','Bath','Bradford','Brighton','Cambridge','Canterbury','Carlisle','Chester','Chichester','Coventry','Derby','Durham','Ely','Exeter','Gloucester','Hereford','Kingston','Lancaster','Leicester','Lichfield','Lincoln','Londonderry','Oxford','Peterborough','Plymouth','Preston','Ripon','Salford','Salisbury','Sheffield','Stirling','Stoke','Sunderland','Swansea','Truro','Wakefield','Wells','Winchester','Wolverhampton','Worcester','York','Aberdeen','Dundee','Edinburgh','Glasgow','Inverness','Stirling','Aberystwyth','Bangor','Cardiff','Newport','Swansea','St Asaph','St Davids','Belfast','Armagh','Lisburn','Derry','Newry','Cork','Dublin','Galway','Limerick','Waterford','Derry','Dundalk','Lisburn','Newry','Armagh','Bangor','Bath','Bradford','Brighton','Cambridge','Canterbury','Carlisle','Chester','Chichester','Coventry','Derby','Durham','Ely','Exeter','Gloucester','Hereford','Kingston','Lancaster','Leicester','Lichfield','Lincoln','Londonderry','Oxford','Peterborough','Plymouth','Preston','Ripon','Salford','Salisbury','Sheffield','Stirling','Stoke','Sunderland','Swansea','Truro','Wakefield','Wells','Winchester','Wolverhampton','Worcester','York','Aberdeen','Dundee','Edinburgh','Glasgow','Inverness','Stirling','Aberystwyth','Bangor','Cardiff','Newport','Swansea','Belfast']

In [48]:
ip = str(input("Enter the city name: "))
aqi_city(ip)

,city,latitude,longitude,station,dominant_pollutant,timestamp,timestamp_timezone,aqi,AQI_meaning,AQI_health_implications,...,o3,co,no2,so2,dew,h,p,t,w,wg
0,Solapur,17.659919,75.906391,"Solapur, Solapur, India",pm2.5,2024-06-29 11:00:00,+05:30,130.0,Unhealthy for sensitive group,Members of sensitive groups may experience hea...,...,NaN,NaN,20.0,18.8,24.1,71.766667,954.693333,30.923333,0.166667,NaN

In [ ]:
ip = str(input("Enter the city name: "))
def get_data(ip):
    data = aqi_city(ip)
    return data

In [ ]:
successful_cities = []
for city in cities:
    try:
        aqi_city(city)
        successful_cities.append(city)
    except Exception as e:
        print(f"Data not available for {city}: {e}")

cities = successful_cities
# Now you can safely use cities list for further processing
# o3.get_multiple_city_air(cities=cities)

In [9]:
citiesdf = o3.get_multiple_city_air(cities=cities)

In [30]:
citiesdf=citiesdf.iloc[:,: 21]

handling missing values

In [41]:
# Identify numerical columns
numerical_cols = citiesdf.select_dtypes(include=['number']).columns

# Calculate the mean only for numerical columns
mean_values = citiesdf.loc[21, numerical_cols].mean()

# Fill NA values only in numerical columns with their mean
# handle = citiesdf.loc[21, numerical_cols] = citiesdf.loc[21, numerical_cols].fillna(mean_values)
handle = citiesdf
# fill nan values with mean of that column
handle['w'] = citiesdf['w'].fillna(citiesdf['w'].mean())
handle['p'] = citiesdf['p'].fillna(citiesdf['p'].mean())
handle['h'] = citiesdf['h'].fillna(citiesdf['h'].mean())
handle['so2'] = citiesdf['so2'].fillna(citiesdf['so2'].mean())
handle['no2'] = citiesdf['no2'].fillna(citiesdf['no2'].mean())
handle['co'] = citiesdf['co'].fillna(citiesdf['co'].mean())
handle['o3'] = citiesdf['o3'].fillna(citiesdf['o3'].mean())
handle['pm10'] = citiesdf['pm10'].fillna(citiesdf['pm10'].mean())
handle['pm2.5'] = citiesdf['pm2.5'].fillna(citiesdf['pm2.5'].mean())
handle['aqi'] = citiesdf['aqi'].fillna(citiesdf['aqi'].mean())

In [110]:
handle.to_csv('handle.csv', index=False)

In [64]:
# type(handle['timestamp'])
data = pd.DataFrame()
data['ds'] = pd.to_datetime(handle['timestamp'])
type(data['ds'])

pandas.core.series.Series

In [67]:
data['y'] = handle['aqi']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      180 non-null    datetime64[ns]
 1   y       180 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.9 KB

till now the dataset included real time data of multiple cities but to train model i will historic data of only one city

In [75]:
data_huston = o3.get_historical_data(city='Houston')     # data from 2014 onwards!

d:\Siddhant\Open Source\AQI Prediction\venv\lib\site-packages\ozon3\ozon3.py:572: UserWarning: city_id was not supplied. Searching for "Houston" yields city ID 181 with station name "['Houston East, Houston, Texas']", with country code "US". Ozon3 will return air quality data from that station. If you know this is not the correct city you intended, you can use get_city_station_options method first to identify the correct city ID.
  warnings.warn(

In [80]:
historical_data = data_huston

In [81]:

historical_data.mean()

date     2019-03-30 12:00:00
pm2.5              39.079702
o3                 28.214535
no2                 9.790496
pm10                    19.0
so2                      0.0
co                       2.0
dtype: object

In [83]:
historical_data = historical_data.fillna(historical_data.mean())

historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3830 entries, 0 to 3829
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3830 non-null   datetime64[ns]
 1   pm2.5   3830 non-null   float64
 2   o3      3830 non-null   float64
 3   no2     3830 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 119.8 KB

In [84]:
hist = pd.DataFrame()
hist['ds'] = pd.to_datetime(historical_data['date'])
hist['y'] = historical_data['o3']

In [85]:
hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3830 entries, 0 to 3829
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      3830 non-null   datetime64[ns]
 1   y       3830 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 60.0 KB

connection to mongodb
aqipred
aqi
username:2022siddhantsathe
pass:v90xaUxXKoFGAbEv